<footer class="site-footer">
  <div class="wrapper">
    <!-- Site-title -->
    <h2 class="footer-heading">{{ site.title }}</h2>
    <div class="footer-col-wrapper">
      <!-- Contact-list -->
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <!-- Mail -->
          <li><i class="fa fa-envelope-o"></i> Email</li>
          <li><a href="mailto:{{ site.author.email }}" title="{{ site.author.email }}">{{ site.author.email }}</a></li>
          <!-- RSS -->
          <li><i class="fa fa-rss"></i> Subscribe</li>
          <li><a href="{{ "/feed.xml" | prepend: site.baseurl }}" title="RSS"> via RSS</a></li>
        </ul>
      </div>
      <!-- Social-media-list -->
      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          <!-- GitHub-user -->
          {% if site.author.github %}
          <li>
            {% include footer/icon-github.html username=site.author.github %}
          </li>
          {% endif %}
          <!-- Twitter-user -->
          {% if site.author.twitter %}
          <li>
            {% include footer/icon-twitter.html username=site.author.twitter %}
          </li>
          {% endif %}
        </ul>
      </div>
      <!-- Site-description -->
      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div><!-- Footer-col-wrapper -->
  </div><!--  Wrapper -->
</footer>
