<footer class="site-footer">
  <div class="wrapper">
    <!-- Site-title -->
    <h2 class="footer-heading">{{ site.title }}</h2>
    <div class="footer-col-wrapper">
      <!-- Contact-list -->
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <!-- Mail -->
          <li><i class="fa fa-mail"></i> Email</li>
          <li><a href="mailto:{{ site.email }}" title="{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>
      <!-- Social-media-list -->
      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          <!-- GitHub-user -->
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}
          <!-- Twitter-user -->
          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>
      <!-- Site-description -->
      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div><!-- Footer-col-wrapper -->
  </div><!--  Wrapper -->
</footer>
