<!-- Cats -->
<article class="item widget">
  <h3>Categories</h3>
  {% if site.categories != empty %}
    {% for cat in site.categories %}
      <a class="tags" href="{{ site.baseurl }}/categories/#{{ cat[0] }}" title="Category {{ cat[0] }}" rel="tag">{{ cat[0] | join: "/" }}</a>
    {% endfor %}
  {% else %}
    <span>Empty</span>{% endif %}
</article>

<!-- Tags -->
<article class="item widget">
  <h3>Tags</h3>
  {% assign sort_tags = site.tags | sort %}
  {% if sort_tags != empty %}
    {% for tag in sort_tags %}
      <a class="tags" href="{{ site.baseurl }}/tags/#{{ tag[0] }}" title="Tag {{ tag[0] }}" rel="tag">{{ tag[0] }}</a>
    {% endfor %}
  {% else %}
  <span>Empty</span>{% endif %}
</article>
